<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/didactica_ciencia_datos/blob/main/1_curso_machine_learning/1_evaluacion_oral_tarea_quiz_parcial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/didactica_ciencia_datos/blob/main/1_curso_machine_learning/1_evaluacion_oral_tarea_quiz_parcial.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

### [Video de apoyo a la lectura interactiva y experimental de este cuaderno]()

## [Vínculo al programa del curso de matemáticas I:  ](https://github.com/marco-canas/matematicas_I_grupo_experimental_grupo_control/blob/main/plan%20del%20curso_matematicas_I_administracion_empresas.docx)

![Reconocimiento a los estudiantes de administración por su participación en la construcción de este saber didáctico](https://github.com/marco-canas/matematicas_I_grupo_experimental_grupo_control/blob/main/images/images_of_students/administracion_empresas_practica_visualizacion_2024-04-19.jpeg?raw=true)

# Modelo general de clase: [aula invertida](https://www3.gobiernodecanarias.org/medusa/ecoescuela/pedagotic/aprendizaje-invertido-flipped-classroom/)

# Fomento de la lectura literaria asociada a Ingeniería agropecuaria y licenciatura en Matemáticas y administración de empresas

[Hábitos atómicos](https://github.com/marco-canas/habitos_atomicos/blob/main/13_como_dejar_de_postergar_usando_la_regla_de_los_dos_minutos/1_13_como_dejar_de_postergar_usando_la_regla_de_los_dos_minutos.ipynb)

# Título de la clase: Realización evaluación oral, de Tareas en cuadernos Jupyter, Quiz o Parcial de selección múltiple o de preguntas cerradas.

### Objetivo de aprendizaje (Enunciar, de manera corta sencilla y clara para todos los asistentes)

* [Hipervínculo para el cuaderno de enseñanza]()
1. Evaluar las tareas realizadas de manera manúscrita
2. Evaluar las tareas realizadas en los cuadernos Jupyter. (Solo realizar la tercera parte de las tareas asignadas de manera manuscrita)
3. Evaluar con un quiz escrito
4. Evaluar con un parcial escrito.
5. Evaluar la capacidad de describir un problema y su solución de manera oral.

## Establecimiento de prerrequisitos conceptuales para alcanzar el objetivo de aprendizaje trazado.   

(Elabore una lista de preguntas al rededor de los conceptos que consideres necesarios para empezar la clase).  

1. 
2. 
3.

# Para el diseño de la clase tenga en cuenta algunos problemas de aprendizaje

# Diseño de evaluación oral de si se alcanzaron los objetivos de aprendizaje planteados

* Describa verbalmente el objetivo de aprendizaje y evidencie de forma oral si lo logró o no.

## Cuestionario para realizar labores de memorización, observación y síntesis de la información (Además de diagnóstico)

1. ¿?
2. ¿?
3. ¿?
4. ¿?
5. ¿?

# Vocabulary 

1. length: longitud
2. width: ancho. 

[length, width](https://voca.ro/1of14ffdXnZI)

# Entrenamiento bajo el concepto de personalización de la enseñanza, utilizando Inteligencia Artificial

20 ejercicios para aplicar el concepto de límite de funciones en un curso de cálculo diferencial con enfoque aplicado a las ciencias económicas, específicamente a la descripción de comportamientos financieros modelados con funciones lineales de la forma $f(x) = mx + b$ y funciones cuadráticas de la forma $g(x) = ax^{2} + bx + c$ que sean similares al siguiente ejercicio: 

Un fabricante puede producir adobes para construcción en Caucasia a un costo de US$ $\$ 1200$ COP la unidad.  
Se estima que si los adobes se venden a un precio de $x$ pesos cada uno, los consumidores comprarán $10000 − x$ de estos al mes.   

* Exprese el beneficio de la compañía como una función del precio unitario, 
* Determine la representación tabular de la función de beneficio. 
* dibuje la gráfica de esta función y utilícela para 
* estimar el precio óptimo de venta, 
* el beneficio óptimo, y 
* determine el dominio y 
* recorrido de esta función.
* Determine los siguientes límites que te ayudará a describir mejor el conportamiento económico de la función de beneficio $B = B(x)$. 


Entendido, aquí te proporciono 20 situaciones similares a la venta de adobes, donde se tenga que optimizar una función cuadrática modelo de un comportamiento económico y describir su comportamiento utilizando el concepto de límites de funciones:


1. **Producción de productos agrícolas**: Un agricultor puede cultivar cierto tipo de producto agrícola a un costo fijo por hectárea. Si el precio de venta por tonelada es $x$ dólares, se estima que los compradores adquirirán $5000 - 2x$ toneladas al mes.


2. **Fabricación de dispositivos electrónicos**: Una empresa puede producir dispositivos electrónicos a un costo de $1000$ dólares por unidad. Si se venden a un precio de $x$ dólares cada uno, los consumidores comprarán $20000 - 3x$ unidades al mes.


3. **Venta de servicios de transporte**: Una empresa de transporte puede ofrecer servicios de viaje a un costo fijo por viaje. Si el precio del boleto es $x$ dólares, se estima que los clientes comprarán $1500 - 0.5x$ boletos al mes.


4. **Producción de equipos deportivos**: Una fábrica puede producir equipos deportivos a un costo de $500$ dólares por unidad. Si se venden a un precio de $x$ dólares cada uno, se estima que los consumidores comprarán $8000 - 4x$ unidades al mes.


5. **Venta de productos de belleza**: Una tienda puede vender productos de belleza a un costo de $10$ dólares por unidad. Si se venden a un precio de $x$ dólares cada uno, se estima que los consumidores comprarán $500 - 0.1x$ unidades al mes.


6. **Producción de muebles de madera**: Una empresa fabrica muebles de madera a un costo de $800$ dólares por unidad. Si se venden a un precio de $x$ dólares cada uno, se estima que los consumidores comprarán $3000 - 2x$ unidades al mes.


7. **Venta de servicios de consultoría**: Una firma de consultoría ofrece servicios de asesoramiento a un costo fijo por hora. Si el precio por hora es $x$ dólares, se estima que los clientes comprarán $200 - 0.02x$ horas de consultoría al mes.


8. **Producción de artículos de moda**: Una fábrica puede producir artículos de moda a un costo de $50$ dólares por unidad. Si se venden a un precio de $x$ dólares cada uno, se estima que los consumidores comprarán $10000 - 100x$ unidades al mes.


9. **Venta de membresías de gimnasio**: Un gimnasio ofrece membresías a un costo fijo mensual. Si el precio de la membresía es $x$ dólares al mes, se estima que habrá $150 - 0.1x$ membresías vendidas.

10. **Producción de dispositivos móviles**: Una empresa fabrica dispositivos móviles a un costo de $300$ dólares por unidad. Si se venden a un precio de $x$ dólares cada uno, se estima que los consumidores comprarán $5000 - 10x$ unidades al mes.

11. **Venta de servicios de reparación de automóviles**: Un taller de reparación ofrece servicios a un costo fijo por hora. Si el precio por hora es $x$ dólares, se estima que los clientes comprarán $100 - 0.01x$ horas de servicio al mes.

12. **Producción de productos farmacéuticos**: Una empresa produce medicamentos a un costo de $20$ dólares por unidad. Si se venden a un precio de $x$ dólares cada uno, se estima que los consumidores comprarán $4000 - 10x$ unidades al mes.

13. **Venta de servicios de limpieza residencial**: Una empresa ofrece servicios de limpieza residencial a un costo fijo por hora. Si el precio por hora es $x$ dólares, se estima que los clientes comprarán $300 - 0.05x$ horas de servicio al mes.

14. **Producción de juguetes infantiles**: Una fábrica puede producir juguetes infantiles a un costo de $5$ dólares por unidad. Si se venden a un precio de $x$ dólares cada uno, se estima que los consumidores comprarán $20000 - 100x$ unidades al mes.

15. **Venta de servicios de desarrollo web**: Una empresa ofrece servicios de desarrollo web a un costo fijo por proyecto. Si el precio por proyecto es $x$ dólares, se estima que los clientes comprarán $50 - 0.005x$ proyectos al mes.

16. **Producción de productos de limpieza ecológicos**: Una empresa produce productos de limpieza ecológicos a un costo de $15$ dólares por unidad. Si se venden a un precio de $x$ dólares cada uno, se estima que los consumidores comprarán $1000 - 5x$ unidades al mes.

17. **Venta de servicios de catering**: Una empresa ofrece servicios de catering a un costo fijo por persona. Si el precio por persona es $x$ dólares, se estima que los clientes comprarán $500 - 2x$ personas de servicio al mes.

18. **Producción de materiales de construcción sostenibles**: Una fábrica produce materiales de construcción sostenibles a un costo de $200$ dólares por unidad. Si se venden a un precio de $x$ dólares cada uno, se estima que los consumidores comprarán $4000 - 20x$ unidades al mes.

19. **Venta de servicios de entrenamiento personal**: Un entrenador personal ofrece servicios de entrenamiento a un costo fijo por sesión. Si el precio por sesión es $x$ dólares, se estima que los clientes comprarán $100 - 0.01x$ sesiones al mes.

20. **Producción de energía solar**: Una empresa produce paneles solares a un costo de $1000$ dólares por unidad. Si se venden a un precio de $x$ dólares cada uno, se estima que los consumidores comprarán $20000 - 10x$ unidades al mes.


Estas situaciones presentan modelos similares al de la venta de adobes y pueden ser analizadas utilizando funciones cuadráticas, optimizando el comportamiento económico y describiendo sus cambios utilizando el concepto de límites de funciones.

# 1. Evaluar las tareas realizadas de manera manúscrita
## 2. Evaluar las tareas realizadas en los cuadernos Jupyter. (Solo realizar la tercera parte de las tareas asignadas de manera manuscrita)

In [1]:
#Tarea 1 sobre lectura de ejemplos 
#Tarea para antes de realizada la clase
# Consiste en la lectura y completación de un ejemplo del texto guía

import pandas as pd
import numpy as np
import requests
np.random.seed(126)  # establecer semilla aleatoria para hacer los resultados reproducibles



grupo_estudiantes = 'math1'
nombre_texto_guia = 'Lina_Grajales'
pagina_y_seccion = 'Página_316_Parte_5'
numero_total_ejemplos_para_leer = 11
numero_de_ejercicios_asignados = 1


# Descargar la lista de  estudiantes
students_url = "https://raw.githubusercontent.com/marco-canas/groups_list/main/" + grupo_estudiantes + ".csv"
exercises = list(range(1, numero_total_ejemplos_para_leer ))  

students_data = pd.read_csv(students_url)

# Crear una lista para almacenar las asignaciones
assignments = []

# Asignar ejercicios aleatorios a cada estudiante
for index, student in students_data.iterrows():
    # Seleccionar 5 ejercicios aleatorios sin repetición
    random_exercises = np.random.choice(exercises, numero_de_ejercicios_asignados, replace = False)+ 1 
    assignments.append([students_data["Nombre"][index], *random_exercises])  # Agregar asignación a la lista

# Crear un DataFrame con las asignaciones
columns = ["Student"] + [ "Example" + str(i+1) for i in range(numero_de_ejercicios_asignados)]
assignment_df = pd.DataFrame(assignments, columns=columns)

# Guardar el DataFrame en un archivo CSV
assignment_csv = "tarea" + "_" + nombre_texto_guia + "_"+ pagina_y_seccion + ".csv"
assignment_df.to_csv(assignment_csv, index=False)

print("Tarea asignada: ", assignment_csv)
print('Debe transcribir el ejemplo \n en su cuaderno manuscrito y Jupyter y completar los procedimientos')
assignment_df

Tarea asignada:  tarea_Lina_Grajales_Página_316_Parte_5.csv
Debe transcribir el ejemplo
 en su cuaderno manuscrito y Jupyter y completar los procedimientos

                             Student  Example1
0      ACEVEDO CASTILLO MAIRA DAYANA         9
1                ACOSTA RUIZ YIRLENA         5
2           GUERRERO SANTOS ISABELLA         5
3              LEGUIA MEJIA ESTEFANY         8
4         LLANO DAVILA DORIAN ANDRES         6
5       MARTINEZ BUENO DIEGO ESTEBAN         2
6   MORENO BENJUMEA JULIETH FERNANDA         3
7       NUNEZ FERNANDEZ TULIO MANUEL         8
8   PATERNINA SOLORZANO MARIA ISABEL         4
9             PEREZ GARCIA ALEJANDRO         8
10    QUINTERO CARDONA DEVISON MATEO        11
11      SERENO GUEVARA MARIA CELESTE         2
12              SIERRA SERPA YENIFER         5
13            VIDAL QUINTERO ELIACIB         5
14   VILLADIEGO GALLEGO JORGE ANDRES         6

In [3]:
# Tarea 2 realizar los ejercicios sin describir ni justificar
# Hacer para cada ejercicio asignado el análisis tabular, gráfico y algebraico. 
# Tarea2: Asignación de ejercicio para realizar en clase


import pandas as pd
import numpy as np
import requests
np.random.seed(424)  # establecer semilla aleatoria para hacer los resultados reproducibles



grupo_estudiantes = 'math1'
nombre_texto_guia = 'Lina_Grajales'
pagina_y_seccion = 'Página_316_Parte_5'
numero_total_ejercicios_para_leer = 11
numero_de_ejercicios_asignados = 10


# Descargar la lista de  estudiantes
students_url = "https://raw.githubusercontent.com/marco-canas/groups_list/main/" + grupo_estudiantes + ".csv"
exercises = list(range(1, numero_total_ejercicios_para_leer))  

students_data = pd.read_csv(students_url)

# Crear una lista para almacenar las asignaciones
assignments = []

# Asignar ejercicios aleatorios a cada estudiante
for index, student in students_data.iterrows():
    # Seleccionar 5 ejercicios aleatorios sin repetición
    random_exercises = np.random.choice(exercises, numero_de_ejercicios_asignados, replace = False)+ 1 
    assignments.append([students_data["Nombre"][index], *random_exercises])  # Agregar asignación a la lista

# Crear un DataFrame con las asignaciones
columns = ["Student"] + [ "Exer" + str(i+1) for i in range(numero_de_ejercicios_asignados)]
assignment_df = pd.DataFrame(assignments, columns=columns)

# Guardar el DataFrame en un archivo CSV
assignment_csv = "tarea" + "_" + nombre_texto_guia + "_"+ pagina_y_seccion + ".csv"
assignment_df.to_csv(assignment_csv, index=False)

print("Tarea asignada: ", assignment_csv)
assignment_df

Tarea asignada:  tarea_Lina_Grajales_Página_316_Parte_5.csv

,Student,Exer1,Exer2,Exer3,Exer4,Exer5,Exer6,Exer7,Exer8,Exer9,Exer10
0,ACEVEDO CASTILLO MAIRA DAYANA,10,3,5,11,7,4,8,6,2,9
1,ACOSTA RUIZ YIRLENA,8,9,3,4,7,2,10,11,6,5
2,GUERRERO SANTOS ISABELLA,4,6,11,7,10,5,3,8,9,2
3,LEGUIA MEJIA ESTEFANY,8,7,10,6,3,4,2,9,5,11
4,LLANO DAVILA DORIAN ANDRES,10,2,5,9,4,7,8,3,6,11
5,MARTINEZ BUENO DIEGO ESTEBAN,6,2,8,9,4,10,5,3,11,7
6,MORENO BENJUMEA JULIETH FERNANDA,10,2,11,9,4,8,5,3,6,7
7,NUNEZ FERNANDEZ TULIO MANUEL,4,2,9,10,11,6,8,5,3,7
8,PATERNINA SOLORZANO MARIA ISABEL,9,2,8,3,7,5,6,4,10,11
9,PEREZ GARCIA ALEJANDRO,8,5,9,6,7,3,2,4,11,10
10,QUINTERO CARDONA DEVISON MATEO,3,2,9,8,6,10,11,4,5,7
11,SERENO GUEVARA MARIA CELESTE,9,7,2,10,11,3,8,5,6,4
12,SIERRA SERPA YENIFER,5,4,10,8,7,11,6,3,9,2
13,VIDAL QUINTERO ELIACIB,3,6,10,8,9,4,2,11,5,7
14,VILLADIEGO GALLEGO JORGE ANDRES,8,10,2,4,6,11,9,7,5,3

In [3]:
# Tarea 3 Solucionar el ejercicios justificando 
# Hacer para cada ejercicio asignado el análisis tabular, gráfico y algebraico. 
# Tarea para después de la clase: asignación de ejercicios de un seccion del texto guía

# Tarea para adquisición de habilidades


import pandas as pd
import numpy as np
import requests
np.random.seed(1213)  # establecer semilla aleatoria para hacer los resultados reproducibles



grupo_estudiantes = 'math1'
nombre_texto_guia = 'Lina_Grajales'
pagina_y_seccion = 'Página_316_Parte_5'
numero_total_ejercicios_para_leer = 11
numero_de_ejercicios_asignados = 10



# Descargar la lista de  estudiantes
students_url = "https://raw.githubusercontent.com/marco-canas/groups_list/main/" + grupo_estudiantes + ".csv"
exercises = list(range(1, numero_total_ejercicios_para_leer))  

students_data = pd.read_csv(students_url)

# Crear una lista para almacenar las asignaciones
assignments = []

# Asignar ejercicios aleatorios a cada estudiante
for index, student in students_data.iterrows():
    # Seleccionar 5 ejercicios aleatorios sin repetición
    random_exercises = np.random.choice(exercises, numero_de_ejercicios_asignados, replace = False)+ 1 
    assignments.append([students_data["Nombre"][index], *random_exercises])  # Agregar asignación a la lista

# Crear un DataFrame con las asignaciones
columns = ["Student"] + [ "Exer" + str(i+1) for i in range(numero_de_ejercicios_asignados)]
assignment_df = pd.DataFrame(assignments, columns=columns)

# Guardar el DataFrame en un archivo CSV
assignment_csv = "tarea" + "_" + nombre_texto_guia + "_"+ pagina_y_seccion + ".csv"
assignment_df.to_csv(assignment_csv, index=False)

print("Tarea asignada para solucionar y describir y justificar ", assignment_csv)
assignment_df

Tarea asignada para solucionar y describir y justificar  tarea_Lina_Grajales_Página_316_Parte_5.csv

,Student,Exer1,Exer2,Exer3,Exer4,Exer5,Exer6,Exer7,Exer8,Exer9,Exer10
0,ACEVEDO CASTILLO MAIRA DAYANA,3,5,9,8,10,11,6,4,7,2
1,ACOSTA RUIZ YIRLENA,7,6,4,9,3,2,10,8,11,5
2,GUERRERO SANTOS ISABELLA,6,2,10,11,9,8,5,3,4,7
3,LEGUIA MEJIA ESTEFANY,10,11,7,9,4,3,6,2,5,8
4,LLANO DAVILA DORIAN ANDRES,7,10,9,5,2,11,8,6,3,4
5,MARTINEZ BUENO DIEGO ESTEBAN,2,5,4,10,3,9,6,7,11,8
6,MORENO BENJUMEA JULIETH FERNANDA,7,11,8,9,10,2,4,6,3,5
7,NUNEZ FERNANDEZ TULIO MANUEL,4,2,9,11,8,6,5,10,3,7
8,PATERNINA SOLORZANO MARIA ISABEL,11,8,4,6,2,10,7,5,9,3
9,PEREZ GARCIA ALEJANDRO,4,11,10,2,9,7,8,5,6,3
10,QUINTERO CARDONA DEVISON MATEO,2,10,8,9,3,7,4,6,5,11
11,SERENO GUEVARA MARIA CELESTE,4,5,9,11,6,10,3,7,2,8
12,SIERRA SERPA YENIFER,3,9,5,11,7,4,8,6,10,2
13,VIDAL QUINTERO ELIACIB,5,10,3,7,4,11,9,6,8,2
14,VILLADIEGO GALLEGO JORGE ANDRES,2,9,4,5,7,8,6,10,3,11


# 3. Evaluar con un quiz escrito

In [3]:
# Quiz escrito: 



import pandas as pd
import numpy as np
import requests
np.random.seed(1213)  # establecer semilla aleatoria para hacer los resultados reproducibles



grupo_estudiantes = 'calculo_integral'
nombre_texto_guia = 'Purcell'
pagina_y_seccion = 'Página_202_Sección_3.8'
numero_ejercicios_taller = 11
numero_de_ejercicios_asignados = 2


# Asignar ejercicios aleatorios a cada estudiante

random_exercises = np.random.choice(numero_ejercicios_taller, \
                                    numero_de_ejercicios_asignados, replace = False)+1 
random_exercises

array([2, 7])

4. Evaluar con un parcial escrito.

In [11]:
# Parcial escrito: 



import pandas as pd
import numpy as np
import requests
np.random.seed(1213)  # establecer semilla aleatoria para hacer los resultados reproducibles



grupo_estudiantes = 'calculo_integral'
nombre_texto_guia = 'Purcell'
pagina_y_seccion = 'Página_202_Sección_3.8'
numero_ejercicios_taller = 54
numero_de_ejercicios_asignados = 5


# Asignar ejercicios aleatorios a cada estudiante

random_exercises = np.random.choice(exercises, numero_de_ejercicios_asignados, replace = False)+1 
random_exercises

array([48, 22,  2, 50, 53])

# 5. Evaluación oral
## 5. Evaluar la capacidad de describir un problema y su solución de manera oral. 

### Empecemos llamando al estudiante para evaluación oral

In [1]:
# Llamar a lista o tomar asistencia con python 

import pandas as pd # convertir la lista de estudiantes en un dataframe
import numpy as np # elección aleatoria

# Cargar la lista de estudiantes desde la URL
url = 'https://raw.githubusercontent.com/marco-canas/groups_list/main/math1.csv'
estudiantes = pd.read_csv(url) # convierte el csv en una dataframe

# Convertir la columna 'Nombre' a una lista de Python
lista_estudiantes = estudiantes['Nombre'].tolist()

# Función para llamar a un estudiante aleatoriamente y registrar su nota de seguimiento
def llamar_estudiante():
    if lista_estudiantes:
        estudiante_aleatorio = np.random.choice(lista_estudiantes)
        print(f"Llamando a {estudiante_aleatorio}...")
        lista_estudiantes.remove(estudiante_aleatorio)
    else:
        print("Se han llamado a todos los estudiantes del grupo completo.")

In [2]:
llamar_estudiante()

Llamando a MARTINEZ BUENO DIEGO ESTEBAN...

* Describa el significado del símbolo:  
  
  $$ \lim_{x \to c} f(x) = L $$  
  
* Describa un problema de los vistos en clase. 
* Describa la metodología de solución.
* Describa el proceso de solución.

# Programa para evaluación del seguimiento mensual de los estudiantes

In [7]:
# Programa para valoración cuantitativa por meses para los estudiantes de todos los cursos
import numpy as np 
import pandas as pd   

#weights
weightAssistance = 12/100
weightAttentionParticipation = 8/100
weightHandwrittenNotebook = 8/100
weightJupyterNotebook = 20/100
weightQuiz = 16/100
weightPartial = 48/100

url_group = 'https://raw.githubusercontent.com/marco-canas/groups_list/main/seminario_didactica_aritmetica.csv'

df = pd.read_csv(url_group, decimal = ',') 

df.Assistance = (df.Assistance/np.max(df.Assistance))*5.0
df.AttentionParticipation = (df.AttentionParticipation/np.max(df.AttentionParticipation))*5.0
df.HandwrittenNotebook = (df.HandwrittenNotebook/np.max(df.HandwrittenNotebook))*5.0
df.JupyterNotebook = (df.JupyterNotebook/np.max(df.JupyterNotebook))*5.0  


df['FollowUp'] = df.Assistance*weightAssistance + \
                 df.AttentionParticipation*weightAttentionParticipation + \
                 df.HandwrittenNotebook*weightHandwrittenNotebook+\
                 df.JupyterNotebook*weightJupyterNotebook+\
                 df.Quiz*weightQuiz + \
                 df.Partial*weightPartial

df.FollowUp = df.FollowUp.round(1)

df[['Nombre', 'FollowUp']]

AttributeError: 'DataFrame' object has no attribute 'AttentionParticipation'

<img src = ''>

## Estrategias propuestas para la solución de las dificultades de aprendizaje detectadas

## Cuestionario para realizar labores de memorización y observación,  a la síntesis de la información

## Grabaciones en audio para fomentar la capacidad de memorizar enunciados de teoremas y resultados científicos y la capacidad de parafrasear estos resultados.

Se dispondrá de un lugar en el drive asociuado al correo institucional de la Universidad Nacional del Profesor Marso para albergar los archivosd de audio de fomento a la memoirización, enunciación y parafraseo de los resultados científicos, prtopiedades, reglas, etc. 

* Vocaroo

### Comparta sus cuadernos y videos, evidencias de su aprendizaje [aquí](https://forms.office.com/Pages/ResponsePage.aspx?id=IefhmYRxjkmK_7KtTlPBwkanXIs1i1FEujpsZgO6dXpUMEMwTEZVMzEwVVBPTElWNVg5OVEyWUhMUy4u)

# FODA del grupo y del profesor  

* F: Fortalezas
* O: Oportunidades
* D: Dificultades
* A: Amenazas.

## ¿Cómo se sintió en este espacio de enseñanza y aprendizaje?

!Dios te bendiga¡

In [15]:
# Programa para valoración cuantitativa por meses para los estudiantes de todos los cursos
import numpy as np 
import pandas as pd   

# Weights
weightAssistance = 12/100
weightAttentionParticipation = 8/100
weight_tast_1_2_3 = 8/100
weightJupyterNotebook = 20/100
weightQuiz = 16/100
weightPartial = 48/100

url_group = 'https://raw.githubusercontent.com/marco-canas/groups_list/main/calculo_integral.csv'

df = pd.read_csv(url_group, decimal = ',') 

df.Assistance = (df.Assistance/np.max(df.Assistance))*5.0
df.AttentionParticipation = (df.AttentionParticipation/np.max(df.AttentionParticipation))*5.0
df.task_1_2_3 = (df.task_1_2_3/np.max(df.task_1_2_3))*5.0
df.JupyterNotebook = (df.JupyterNotebook/np.max(df.JupyterNotebook))*5.0  


df['FollowUp'] = np.round(df.Assistance*weightAssistance+\
    df.AttentionParticipation*weightAttentionParticipation+\
    df.HandwrittenNotebook*weight_task_1_2_3+\
    df.JupyterNotebook*weightJupyterNotebook+\
    df.Quiz*weightQuiz+\
    df.Partial*weightPartial,1)
df[['Nombre', 'FollowUp']]

                               Nombre  FollowUp
0        AGUDELO MORENO RENATO DIRNEY       2.8
1   AMARIS FERNANDEZ SEBASTIAN CAMILO       2.5
2       ARENAS HERAZO GABRIEL ENRIQUE       2.5
3        AYALA MENDOZA MARISOL YACIRA       2.7
4          BERTEL RODELO MICHELL SMIT       2.5
5            BULA VERGARA MARIA PAULA       2.5
6             CANTILLO ENSUCHO DANIEL       5.0
7            CERVANTES DURAN ANGELICA       3.4
8         GALLEGO TEJADA JUAN ESTEBAN       1.9
9             GUERRA NORIEGA YONATHAN       4.6
10    HINCAPIE CASTRO JOHAN SEBASTIAN       3.8
11             HUMANEZ SANCHEZ CAMILO       4.7
12       IBAnEZ MORENO FRANCISCO LUIS       3.5
13  LONDONO CUADRADO CRISTIAN ALBERTO       2.0
14       LOZANO HOLGUIN LIZETH JOHANA       3.4
15          MASS MIRANDA RIVALDO JOSE       4.6
16     MIRANDA MARTINEZ CARLOS ANDRES       3.8
17              MONTERROSA SOTO ABRIL       2.6
18           NORIEGA JIMENEZ GABRIELA       2.2
19             PEREZ REYES IVAN DARIO       2.3
20               PEREZ THERAN ERLINDA       2.8
21              PINEDA ROMERO YOSMERI       4.1
22         QUINONEZ CERVANTES MARIANA       2.4
23           QUIROZ DURAN JUAN MANUEL       1.8
24                 RAMOS PEREZ YANINE       2.7
25              RIVAS HOYOS ESTEFANIA       2.3
26              ROSILLO TEJADA VANESA       4.8
27          SANCHEZ PADILLA SILVESTRE       4.8
28        SILVA ROYERO MAILY CRISTINA       2.1
29          USUGA GEORGE JHON ESTIVEN       3.9

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nombre                  30 non-null     object
 1   Email                   30 non-null     object
 2   AttentionParticipation  30 non-null     float64
 3   JupyterNotebook         30 non-null     float64
 4   Partial                 30 non-null     float64
 5   Quiz                    30 non-null     float64
 6   HandwrittenNotebook     30 non-null     float64
 7   Assistance              30 non-null     float64
dtypes: float64(6), object(2)
memory usage: 2.0+ KB

## Referentes

* [stewart precálculo](https://udeaeduco-my.sharepoint.com/:b:/g/personal/marco_canas_udea_edu_co/ERHIq62I6qFNrmxy6LZb8ZMBci7kUsyNME1nIh9yCBMJ_w?e=0zMSla)  

* [stewart cálculo](https://udeaeduco-my.sharepoint.com/:b:/g/personal/marco_canas_udea_edu_co/EZgXZjAp8QxPqOAim2hs6LcBNPLGjSHf-xwYnUVYkwa04w?e=RZdTCy)  

* [larson](https://udeaeduco-my.sharepoint.com/:b:/g/personal/marco_canas_udea_edu_co/ES71ChFeO9ZDhW3TwC5Ijk8BjxUK3Pdqz_fjHxTTFAfIAg?e=VDEjfu)

* [uzcategui](https://udeaeduco-my.sharepoint.com/:b:/g/personal/marco_canas_udea_edu_co/ETDikm-lVl1Or8XoEo9oyh0BEti9Zs8le-f0D-dBdtZmbA?e=bBsoyQ)

* [Recomendación de la UNESCO sobre ciencia abierta](https://unesdoc.unesco.org/ark:/48223/pf0000379949_spa)  

* [chatGPT](https://openai.com/blog/chatgpt)  

* Géron, A. (2017). Hands-on machine learning with scikit-learn and tensorflow: Concepts. Tools, and Techniques to build intelligent systems.[Geron, Aurelien. Hands on Machine Learning](https://udeaeduco-my.sharepoint.com/:b:/g/personal/marco_canas_udea_edu_co/Ecet27yjQzZIlT1Y_Bc2erkBUhbeYuIe6HG8i1FYZRlZww?e=dlvZ4v)  

* McKinney, W. (2012). Python for data analysis: Data wrangling with Pandas, NumPy, and IPython. " O'Reilly Media, Inc.".[Wes Mackinney. ](https://udeaeduco-my.sharepoint.com/:b:/g/personal/marco_canas_udea_edu_co/EVbi5JIeBl9ErbiUnZfGe8YBhNTnZ8sxTK5hjIOPK4UpGw?e=fFclah)

### [Evaluamos al profesor Marco Cañas Aquí](https://forms.office.com/Pages/ResponsePage.aspx?id=IefhmYRxjkmK_7KtTlPBwkanXIs1i1FEujpsZgO6dXpUREJPV1kxUk1JV1ozTFJIQVNIQjY5WEY3US4u)

## [Evaluación luego de alcanzar estos objetivos de aprendizaje]()

### Continue su aprendizaje en la siguiente clase a través del siguiente [vínculo]()

# Conjeturas pedagógicas fruto de la aplicación del modelo de aprendizaje invertido y del enfoque hacia la ciencia de datos con python

1. Todo cálculo o resultado debe ser interpretado en una línea markdown del cuaderno Jupyter, inmediatamente después de la enunciación del resultado y después de la presentación de una tabla o gráfico bidimensional, de tal menera que el estudiante explicite la comprensión verbal del resultado y las inferencias o estrategias que este resultado le sugieren.