<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/2_calculo_I/blob/main/evaluation/parcial_1/parcial_1_march_31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Parcial 1 Tema 3 Evaluación no centrada en métodos analíticos

## Objetivo de este examen

* evaluar la capacidad de determinar el límite de una función en un punto $x = c$, a partir de la lectura de la representación tabular y gráfica de la misma

In [8]:
from calculo_limite_tabular_grafico import tabla_izquierda, tabla_derecha

In [9]:
def f(x):
    return x/(x**2-x)

In [10]:
tabla_izquierda(f, c = 0)

       x         y
0 -1.000 -0.500000
1 -0.889 -0.529381
2 -0.778 -0.562430
3 -0.667 -0.599880
4 -0.556 -0.642674
5 -0.445 -0.692042
6 -0.334 -0.749625
7 -0.223 -0.817661
8 -0.112 -0.899281
9 -0.001 -0.999001

In [11]:
tabla_derecha(f, c = 0)

          x            y
0  0.001000    -1.001001
1  0.111889    -1.125985
2  0.222778    -1.286633
3  0.333667    -1.500750
4  0.444556    -1.800360
5  0.555444    -2.249438
6  0.666333    -2.997003
7  0.777222    -4.488778
8  0.888111    -8.937438
9  0.999000 -1000.000000

## Solución:

### Inferencias de la lectura a la tabla que representa la función en su comportamiento a la izquierda de cero

$$ \lim_{x \to 0^{-}} \frac{x}{x^{2} - x} = -1 $$

$$ \lim_{x \to 0^{+}} \frac{x}{x^{2} - x} = -1 $$

de donde 

$$ \lim_{x \to 0} \frac{x}{x^{2} - x} = -1 $$