# Determine dominio, elabore una tabla y grafique

$$ f(x) = \frac{8}{\sqrt{x^{2} - 2x - 8}} $$

## Solución:

El dominio de $f$ es el conjunto de los números $x$ tales que 

$$ x^{2} - 2x - 8 > 0 $$

Y lo que se hace para resolver esta inecuacuación cuadrática es: 

$$ (x-4)(x+2) > 0  $$

$$ x-4 > 0  \ \ \ \ \ \ \ \ \ x + 2 > 0$$

$$ x > 4 \ \ \ \ \ \text{y} \ \ \ \ x > -2 $$

In [1]:
def f(x):
    return 8/np.sqrt(x**2 - 2*x -8)

In [5]:
import numpy as np 
X = np.array([-10,-9,-8,-6, -5, -4, -3, 5, 6, 7, 8, 9, 10])

In [6]:
y = np.array([f(x) for x in X])

In [7]:
x

array([-10,  -9,  -8,  -6,  -5,  -4,  -3,   5,   6,   7,   8,   9,  10])

In [8]:
y

array([0.75592895, 0.83862787, 0.94280904, 1.26491106, 1.53960072,
       2.        , 3.02371578, 3.02371578, 2.        , 1.53960072,
       1.26491106, 1.07871978, 0.94280904])

In [9]:
import pandas as pd

In [10]:
tabla = pd.DataFrame({'x':X, 'f(x)':y})
tabla

     x      f(x)
0  -10  0.755929
1   -9  0.838628
2   -8  0.942809
3   -6  1.264911
4   -5  1.539601
5   -4  2.000000
6   -3  3.023716
7    5  3.023716
8    6  2.000000
9    7  1.539601
10   8  1.264911
11   9  1.078720
12  10  0.942809